os: windows

language: go

go: 1.14.x

before_install:
  - go vet ./...

script:
  - go test -v -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)
